{% extends 'layout.html' %}
{% block body %}

<center><h3>Tabla de clasificación del consumidor</h3></center>
<table class="table table-striped table-bordered bg-active table-sm">
    <tr class="table-dark" align="center" >
        <td>Id</td>
        <td>Nombre Completo</td>
        <td>Pais</td>
        <td>Edad</td>
        <td>Genero</td>
        <td>Tipo de Cerveza</td>
        <td>Lupulo</td>
        <td>%Alcohol</td>
    </tr>
    <tbody>
        {% for contacto in contactos %}
            <tr align="center">
                <td>{{contacto.0}}</td>
                <td>{{contacto.1}}</td>
                <td>{{contacto.2}}</td>
                <td>{{contacto.3}}</td>
                <td>{{contacto.4}}</td>
                <td>{{contacto.5}}</td>
                <td>{{contacto.6}}</td>
                <td>{{contacto.7}}</td>
            </tr>

        {% endfor %}
    </tbody>
    
</table>

{% endblock %}