{% extends 'layout.html' %}

{% block body %}
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>  
    

    
{% endfor %}
{% endif %}
{% endwith %}

<form action="/add_contact" method="POST">
    <br>    
        <h3>Formulario</h3>
        <input type="text" name="nombre" placeholder="Nombre">
        <input type="text" name="telefono" placeholder="Telefono">
        <input type="text" name="correo" placeholder="Correo">
    </br>

    <br>
    <h3>A) Aroma</h3>
    <label for="olor">¿Le preocupa o influye el olor de la cerveza para poderla consumir?
    </label>
    
    <select name="olor" id="olor" style="height:35px">>
        <option value=""></option>
        <option value="No">No</option>
        <option value="Un poco">Un poco</option>
        <option value="Normalmente">Normalmente</option>
        <option value="Mucho">Mucho</option>
    </select>
    </br>

    <br>
    <h3>B) Sabor</h3>
    <label for="color">¿Considera que el color de la cerveza influye en el sabor?
    </label>
    
    <select name="color" id="color" style="height:35px">
        <option value=""></option>
        <option value="No">No</option>
        <option value="Un poco">Un poco</option>
        <option value="Usualmente">Usualmente</option>
        <option value="Mucho">Mucho</option>
    </select>
    </br>

    <br>
    <label for="sabor">¿Cuál es el sabor de cerveza preferido?
    </label>
    
    <select name="sabor" id="sabor" style="height:35px">
        <option value=""></option>
        <option value="Suave y dulce (tonos negros)">Suave y dulce (tonos negros)</option>
        <option value="Fresca y amarga (cuerpo ligero y cremoso)">Fresca y amarga (cuerpo ligero y cremoso)</option>
        <option value="Malta ahumada o tostada (tonos dorados oscuros)">Malta ahumada o tostada (tonos dorados oscuros)</option>
        <option value="Hierba y madera (guardada para añejar)">Hierba y madera (guardada para añejar)</option>
    </select>
    </br>

    <br>
    <label for="artesanal">¿Le gustaría probar nuevos sabores de cervezas de forma artesanal?
    </label>
    
    <select name="artesanal" id="artesanal" style="height:35px">
        <option value=""></option>
        <option value="Si">Si</option>
        <option value="No">No</option>        
    </select>
    </br>
    <br>

    <label for="lupulo">Si las concentraciones de lúpulo le dan un sabor amargo a la cerveza, ¿Qué tanto grado de lúpulo quisiera agregar?
    </label>
    
    <select name="lupulo" id="lupulo" style="height:35px">
        <option value=""></option>
        <option value="4% - 6.3% (Sabor)">4% - 6.3% (Sabor)</option>
        <option value="8% - 9% (Sabor, aroma)">8% - 9% (Sabor, aroma)</option>
        <option value="13.5% - 16% (Amargar)">13.5% - 16% (Amargar)</option>
        <option value="15% - 21% (Aroma cítrico)">15% - 21% (Aroma cítrico)</option>
    </select>
    </br>

    <br>
    <label for="aditivos">¿Le agrada a usted incluir aditivos especiales como los saborizantes? 
    </label>
    
    <select name="aditivos" id="aditivos" style="height:35px">
        <option value=""></option>
        <option value="Si">Si</option>
        <option value="No">No</option> 
    </select>
    </br>

    <br>
    <label for="tipoaditivos">¿Qué tipo de aditivos u otras formas de presentación le gusta incluir en la cerveza?  
    </label>
    
    <select name="tipoaditivos" id="tipoaditivos" style="height:35px">
        <option value=""></option>
        <option value="Clásica con hielo (sencilla)">Clásica con hielo (sencilla)</option>
        <option value="Michelada o gomichela (sal alrededor)">Michelada o gomichela (sal alrededor)</option> 
        <option value="Michelada con hielo">Michelada con hielo</option> 
        <option value="Cerveza con endulzantes (banana, manzana, cereza, mora, chocolate)">Cerveza con endulzantes (banana, manzana, cereza, mora, chocolate)</option>
        <option value="Cóctel acompañado (limón, naranja, mora, hierbas)">Cóctel acompañado (limón, naranja, mora, hierbas)</option>

    </select>
    </br>

    <br>
    <h3>C) Elaboración presencial (% Alcohol)</h3>
    <label for="porcentaje">¿Qué porcentaje de alcohol considera que es satisfactorio?  
    </label>
    
    <select name="porcentaje" id="porcentaje" style="height:35px">
        <option value=""></option>
        <option value="3% - 3.5%">3% - 3.5%</option>
        <option value="3.5% - 4">3.5% - 4%</option> 
        <option value="4% - 4.5%">4% - 4.5%</option> 
        <option value="4.5% - 5%">4.5% - 5%</option>
        <option value="Más del 5%">Más del 5%</option>

    </select>
    </br>

    <br>
        <div align="center">
            <input type="submit" value="Enviar" class="btn btn-dark" style="display: block; margin: 0 auto;">
        </div>

    </br>

</form>
{% endblock %}